<html>

<head>
    <link rel="stylesheet" href="/static/styles/common.css" />

</head>

<body>
    <div class="top large-screen-only">
        <div class="header">
            <div class="header-left">
                <a href="">
                    <div class="teamName">
                        <p class="">团队名称</p>
                    </div>
                </a>
                <a href="/task">
                    <div class="component">
                        <p class="task">任务</p>
                    </div>
                </a>
                <div class="border"></div>
                <a href="/calendar">
                    <div class="component ">
                        <p class="calendar">日历</p>
                    </div>
                </a>
                <div class="border"></div>
                <a href="/team">
                    <div class="component ">
                        <p class="team">团队
                            </>
                    </div>
                </a>
                <div class="border"></div>
                <a href="/person">
                    <div class="component ">
                        <p class="person">自己</p>
                    </div>
                </a>
            </div>
            <div class="header-right">
                <!-- Right aligned menu below button -->
                <button id="demo-menu-lower-right" class="mdl-button mdl-js-button mdl-button--icon">
                    
                    <i class="material-icons">menu</i>
                </button>

                <ul class="mdl-menu  mdl-js-menu mdl-js-ripple-effect" for="demo-menu-lower-right">
                    <li class="mdl-menu__item">Some Action</li>
                    <li class="mdl-menu__item">Another Action</li>
                    <li disabled class="mdl-menu__item">Disabled Action</li>
                    <li class="mdl-menu__item">Yet Another Action</li>
                </ul>
               
            </div>
        </div>
    </div>
</body>

</html>