<html>
    <head>
            <link rel="stylesheet" href="/static/styles/common.css" /> 
    </head>
    <body>
            <div class=" small-screen-only">
                    <div class="header ">
                        <a href="" class="">
                            <div class="component active">
                                <i class="material-icons ">note</i>
                                <p class="active">任务</p>
                            </div>
                        </a>
                
                        <a>
                            <div class="component">
                                <i class="material-icons">event</i>
                                <p>日历</p>
                            </div>
                        </a>
                
                        <a>
                            <div class="component">
                                <i class="material-icons">group</i>
                                <p>团队</p>
                            </div>
                        </a>
                        <a>
                            <div class="component">
                                <i class="material-icons">person</i>
                                <p>自己</p>
                            </div>
                        </a>
                
                        <a>
                            <div class="component">
                                <i class="material-icons">menu</i>
                                <p>更多</p>
                            </div>
                        </a>
                
                    </div>
                </div>
            </body>
</html>





 