<html>

<head>
    <link rel="stylesheet" href="/static/styles/common.css" />
    
</head>

<body>
    <div class="top large-screen-only">
        <div class="header">
            <div class="header-left">
                <a href="">
                    <div class="teamName">
                        <p class="">团队名称</p>
                    </div>
                </a>
                <a href="/task">
                    <div class="component">
                        <p class="task">任务</p>
                    </div>
                </a>
                <div class="border"></div>
                <a>
                    <div class="component ">
                        <p class="calender">日历</p>
                    </div>
                </a>
                <div class="border"></div>
                <a>
                    <div class="component ">
                        <p class="team">团队</>
                    </div>
                </a>
                <div class="border"></div>
                <a href="/person">
                    <div class="component ">
                        <p class="person">自己</p>
                    </div>
                </a>
            </div>
            <div class="header-right">
                <a>
                    <div class="component ">
                        <p class="more">更多</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</body>

</html>