<div class=" small-screen-only">
    <div class="header ">
        <a href="/task" class="">
            <div class="component task">
                <i class="material-icons ">note</i>
                <p>任务</p>
            </div>
        </a>

        <a href="/calendar">
            <div class="component calendar">
                <i class="material-icons">event</i>
                <p>日历</p>
            </div>
        </a>

        <a href="/team">
            <div class="component team">
                <i class="material-icons">group</i>
                <p>团队</p>
            </div>
        </a>
        <a href="/person">
            <div class="component person">
                <i class="material-icons">account_circle</i>
                <p>自己</p>
            </div>
        </a>

        <a href="/more">
            <div class="component more">
                <i class="material-icons">menu</i>
                <p>更多</p>
            </div>
        </a>

    </div>
</div>