<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
  <title>404</title>
  <meta name="keywords" content="plate">
  <meta name="description" content="plate">
  {% endblock %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="author" content="h5.hai360.com">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="format-detection" content="telephone=no">
  <meta charset="UTF-8">
  <meta http-equiv="Expires" content="-1">
  <meta http-equiv="Cache-Control" content="no-cache">
  <meta http-equiv="Pragma" content="no-cache">
 <script src="/static/scripts/jquery.js"></script>
  <script defer src="/static/scripts/material.min.js"></script>
  <link rel="stylesheet" href="/static/styles/mdl/iconfont/material-icons.css">
  <link rel="stylesheet" href="/static/styles/mdl/material.teal-light_blue.min.css" />
  <link rel="stylesheet" href="/static/styles/mdl/material.min.css">
 
  <script src="/static/scripts/global.js"></script>
  {% block styles %}
  {% endblock %}

  {% block scripts %}
  {% endblock %} 
   
</head>
<body>
  
{% block body %}

{% endblock %}

</body>
</html>
