<!DOCTYPE html>
<html lang="en">

<head>
  {% block head %}
  <title>404</title>
  <meta name="keywords" content="plate">
  <meta name="description" content="plate"> {% endblock %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="author" content="h5.hai360.com">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="format-detection" content="telephone=no">
  <meta charset="UTF-8">
  <meta http-equiv="Expires" content="-1">
  <meta http-equiv="Cache-Control" content="no-cache">
  <meta http-equiv="Pragma" content="no-cache">
  <link rel="stylesheet" href="/static/styles/mdl/iconfont/material-icons.css">
  <link rel="stylesheet" href="/static/styles/mdl/material.teal-light_blue.min.css" />
  <link rel="stylesheet" href="/static/styles/mdl/material.min.css">

  <link rel="stylesheet" href="/static/styles/common.css" /> {% block styles %} {% endblock %}
  <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
  <script defer src="/static/scripts/material.min.js"></script>
  <script src="/static/scripts/vue.js"></script>
  <script src="/static/scripts/global.js"></script>
  <script src="/static/scripts/header_top.js"></script> {% block scripts %} {% endblock %}
</head>

<body >
    <!-- <div id="progress" class="mdl-progress mdl-js-progress mdl-progress__indeterminate" style="width:100%"></div> -->
    <div id ="progress" style="display:flex; align-items:center; justify-content:center;height:100%;width:100%;">
        <div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></div>
    </div>
    <div id="main" style="display:none">
      {% block body %} {% endblock %}
    </div>
</body>

</html>