<html>

<head>
    <script src="/static/scripts/material.min.js"></script>
    <link rel="stylesheet" href="/static/styles/mdl/iconfont/material-icons.css">
    <link rel="stylesheet" href="/static/styles/mdl/material.teal-light_blue.min.css" />
    <link rel="stylesheet" href="/static/styles/mdl/material.min.css">
    <link rel="stylesheet" href="/static/styles/choose.css">
</head>

<body>
    <div class="container">

        <div style="width:100%;min-height:80px;"></div>

        <div class="layout-center">
            <div class="head">
                <img src="/static/images/index/logo.jpg" class="logo" alt="Plate logo">
                <h1 class="title">请选择你的团队</h1>
            </div>
            <div class="body">
                <div class="box">
                    <a href="" class="team">
                        <span class="name">蚂蜂社</span>
                    </a>
                   <!-- <a href="" class="team" id="btn-new-team">
                        <span class="name">
                            <span class="twr twr-todo-addcheck">
                                ::before
                            </span>
                            "创建新团队"
                        </span>
                    </a>-->
                </div>
               
            </div>
            <div>
                    <p class="tiny">
                        <a href="/" data-method="DELETE" rel="nofollow">退出登录</a>
                    </p>
                </div>
        </div>
    </div>
</body>

</html>