{% extends '../layout/layout.html' %} {% block head %}
<title>任务详情</title>
{% endblock %} {% block styles %}
<link rel="stylesheet" href="/static/styles/detail.css" /> {% endblock %} {% block scripts %}
<script src="/static/scripts/detail.js"></script> {% endblock %} {% block body %} {% include '../layout/header_top.html' %}


<div class="contain">
    <div class="task_name">
        <input type="checkbox" class="filled-in" id="task_title" />
        <label id="task_name" for="task_title"></label>
    </div>
    <div class="task_detail">
        <div class="task_deti">
            <i class="material-icons prefix">mode_edit</i>
            <h4>任务描述</h4>
        </div>

        <div class="detail_info">
            <p id="detail_info"></p>
        </div>
    </div>
    <div class="deadline">
        <div class="task_deti">
            <i class="material-icons prefix">access_time</i>
            <h4>截止时间</h4>
        </div>

    </div>
    <div class="task_file">
        <div class="task_deti">
            <i class="material-icons prefix">photo_library</i>
            <h4>图片</h4>
        </div>

        <div class="file_info"></div>
    </div>
    <div class="deadline">
        <div class="task_deti">
            <i class="material-icons prefix">account_circle</i>
            <h4>任务负责成员</h4>
        </div>
        <div class="chip">
            <img src="" alt="Contact Person"> Jane Doe
        </div>

    </div>
</div>

<div class="bottom-none small-screen-only"></div>


{% include '../layout/header_bot.html' %} {% endblock %}