{% extends '../layout/layout.html' %} {% block head %}
<title>我的</title>
{% endblock %} {% block styles %}
<link rel="stylesheet" href="/static/styles/mine.css" /> {% endblock %} {% block body %}
<div class="top large-screen-only">
    <div class="header">
        <a href="">
            <div class="component active">
                <p class="active">项目</p>
            </div>
        </a>
        <div class="border"></div>
        <a>
            <div class="component ">
                <p>日历</p>
            </div>
        </a>
        <div class="border"></div>
        <a>
            <div class="component ">
                <p>个人</p>
            </div>
        </a>
        <div class="border"></div>
        <a>
            <div class="component ">
                <p>更多</p>
            </div>
        </a>
    </div>
</div>
<div class="box">
       
    <div class="main">
        <div class="top-none large-screen-only"></div>
        <!-- Event card -->
        <div class="demo-card-event mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title mdl-card--expand">
                <h4>
                    Featured event:
                    <br> May 24, 2016
                    <br> 7-11pm
                </h4>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                    Add to Calendar
                </a>
                <div class="mdl-layout-spacer"></div>
                <i class="material-icons">event</i>
            </div>
        </div>
        <div class="demo-card-event mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title mdl-card--expand">
                <h4>
                    Featured event:
                    <br> May 24, 2016
                    <br> 7-11pm
                </h4>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                    Add to Calendar
                </a>
                <div class="mdl-layout-spacer"></div>
                <i class="material-icons">event</i>
            </div>
        </div>
        <div class="demo-card-event mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title mdl-card--expand">
                <h4>
                    Featured event:
                    <br> May 24, 2016
                    <br> 7-11pm
                </h4>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                    Add to Calendar
                </a>
                <div class="mdl-layout-spacer"></div>
                <i class="material-icons">event</i>
            </div>
        </div>
        <div class="demo-card-event mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title mdl-card--expand">
                <h4>
                    Featured event:
                    <br> May 24, 2016
                    <br> 7-11pm
                </h4>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                    Add to Calendar
                </a>
                <div class="mdl-layout-spacer"></div>
                <i class="material-icons">event</i>
            </div>
        </div>
        <div class="demo-card-event mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title mdl-card--expand">
                <h4>
                    Featured event:
                    <br> May 24, 2016
                    <br> 7-11pm
                </h4>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                    Add to Calendar
                </a>
                <div class="mdl-layout-spacer"></div>
                <i class="material-icons">event</i>
            </div>
        </div>


        <div class="demo-card-event mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title mdl-card--expand">
                <h4>
                    Featured event:
                    <br> May 24, 2016
                    <br> 7-11pm
                </h4>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                    Add to Calendar
                </a>
                <div class="mdl-layout-spacer"></div>
                <i class="material-icons">event</i>
            </div>
        </div>
        <div class="bottom-none small-screen-only"></div>
    </div>
   
    
</div>


<div class="bottom small-screen-only">
    <div class="header ">
        <a href="">
            <div class="component active">
                <p class="active">项目</p>
            </div>
        </a>
        <div class="border"></div>
        <a>
            <div class="component ">
                <p>日历</p>
            </div>
        </a>
        <div class="border"></div>
        <a>
            <div class="component ">
                <p>个人</p>
            </div>
        </a>
        <div class="border"></div>
        <a>
            <div class="component ">
                <p>更多</p>
            </div>
        </a>

    </div>
</div>


{% endblock %}