{% extends '../layout/layout.html' %} {% block head %}
<title>我的</title>
{% endblock %} {% block styles %}
<link rel="stylesheet" href="/static/styles/mine.css" /> {% endblock %} {% block body %}
<div class="box">

    <div class="top header large-screen-only">
        <a href="">
            <div class=" component active">
                <p class="active">项目</p>
            </div>
        </a>
        <div class="border"></div>
        <a>
            <div class="component ">
                <p>日历</p>
            </div>
        </a>
        <div class="border"></div>
        <a>
            <div class="component ">
                <p>个人</p>
            </div>
        </a>
        <div class="border"></div>
        <a>
            <div class="component ">
                <p>更多</p>
            </div>
        </a>
    </div>


    <div class="small-screen-only bottom header ">
        <a href="">
            <div class="component active">
                <p class="active">项目</p>
            </div>
        </a>
        <div class="border"></div>
        <a>
            <div class="component ">
                <p>日历</p>
            </div>
        </a>
        <div class="border"></div>
        <a>
            <div class="component ">
                <p>个人</p>
            </div>
        </a>
        <div class="border"></div>
        <a>
            <div class="component ">
                <p>更多</p>
            </div>
        </a>
    </div>
</div>


{% endblock %}