{% extends './layout/users.html' %}
{% block head %}
<title>我的</title>
{% endblock %} 
{% block styles %}
<link rel="stylesheet" href="/static/styles/mine.css" /> 
{% endblock %} 
{% block body %}
    <div class="box">
        <div class="row">
        <header class="top">
                <div class="component blink">
                    <p>项目</p>
                </div>
                <div class="border"></div>
                <div class="component blink">
                    <p>日历</p>
                </div>
                <div class="border"></div>
                <div class="component blink">
                    <p>个人</p>
                </div>
                <div class="border"></div>
                <div class="component blink">
                    <p>更多</p>
                </div>
        </header>
    </div>

        <header class="bottom row">
                <div class="component blink">
                    <p>项目</p>
                </div>
                <div class="border"></div>
                <div class="component blink">
                    <p>日历</p>
                </div>
                <div class="border"></div>
                <div class="component blink">
                    <p>个人</p>
                </div>
                <div class="border"></div>
                <div class="component blink">
                    <p>更多</p>
                </div>
        </header>
    </div>


{% endblock %}

