{% extends '../layout/layout.html' %} {% block head %}
<title>自己</title>
{% endblock %} {% block styles %}
<link rel="stylesheet" href="/static/styles/person.css" /> {% endblock %} {% block scripts %}
<script src="/static/scripts/person.js"></script> {% endblock %} {% block body %} {% include '../layout/header_top.html' %}
<div class="container">
    <div class="large-screen-only user_info">
        <img id="avatar" class="avatar" alt="username" src="../../static/images/avator.png">

        <div class="member-card">
            <p class="username" id="user_name"></p>
            <p class="email" id="e-mail"></p>
        </div>
    </div>

    <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
        <div class="mdl-tabs__tab-bar ">
            <a href="#tab1" class="mdl-tabs__tab is-active">我发起的</a>
            <a href="#tab2" class="mdl-tabs__tab">我负责的</a>
        </div>
        <div class=" mdl-tabs__panel is-active todo-box" id="tab1">

            <a v-for="task in tasks">
                <div class="todo break-word">
                    <div class="name">
                        <input type="checkbox" class="filled-in" v-bind:id="task.checkbox_id" />
                        <label v-bind:for="task.checkbox_id">${task.name}</label>
                    </div>
                    <div class="info truncate-text">
                        <div class="chip chip-margin">
                            <div class="chip-box">
                                <i class="material-icons">schedule</i>
                                ${task.leader}
                            </div>
                        </div>
                        <div class="chip chip-margin">
                            <div class="chip-box">
                                <i class="material-icons">schedule</i>
                                ${task.deadline}
                            </div>
                        </div>
                    </div>
                </div>
            </a>


        </div>
        <div class="mdl-tabs__panel todo-box" id="tab2">

            <a v-for="task in tasks_2">
                <div class="todo break-word">
                    <div class="name">
                        <input type="checkbox" class="filled-in" v-bind:id="task.checkbox_id" />
                        <label v-bind:for="task.checkbox_id">${task.name}</label>
                    </div>
                    <div class="info truncate-text">
                        <div class="chip chip-margin">
                            <div class="chip-box">
                                <i class="material-icons">schedule</i>
                                ${task.leader}
                            </div>
                        </div>
                        <div class="chip chip-margin">
                            <div class="chip-box">
                                <i class="material-icons">schedule</i>
                                ${task.deadline}
                            </div>
                        </div>
                    </div>
                </div>
            </a>

        </div>
    </div>

    <div class="bottom-none small-screen-only"></div>
</div>

{% include '../layout/header_bot.html' %} {% endblock %}