{% extends '../layout/layout.html' %} {% block head %}
<title>登陆</title>
{% endblock %} {% block styles %}
<link rel="stylesheet" href="/static/styles/sign.css" /> {% endblock %} {% block scripts %}
<script src="/static/scripts/signIn.js"></script>
<script src="/static/scripts/signUp.js"></script>
<script src="/static/scripts/avatar.js"></script> {% endblock %} {% block body %}
<div class="box">

    <img src="/static/images/largelogo.png" class="logo" alt="Plate logo" width="500px">

    <div class="card">
        <div class="card-tabs">
            <ul class="tabs tabs-fixed-width">
                <li class="tab">
                    <a class="active" href="#signin" style="color:black">登陆</a>
                </li>
                <li class="tab">
                    <a href="#signup" style="color:black">注册</a>
                </li>
            </ul>
        </div>
        <div class="card-content grey lighten-4">
            <div id="signin">
                <div>
                    <!-- Textfield with Floating Label -->
                    <form action="#">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label filed-type">
                            <input class="mdl-textfield__input" type="text" id="signin_email">
                            <label class="mdl-textfield__label" for="signin_email">登录邮箱</label>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label filed-type">
                            <input class="mdl-textfield__input" type="password" id="signin_password">
                            <label class="mdl-textfield__label" for="signin_password">密码</label>
                        </div>
                    </form>
                </div>
                <div>
                    <button id="sign-in" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect btn">
                        登录
                    </button>
                    <div id="demo-toast-example" class="mdl-js-snackbar mdl-snackbar">
                        <div class="mdl-snackbar__text"></div>
                        <button class="mdl-snackbar__action" type="button"></button>
                    </div>
                </div>
                <div class="other-choice">
                    <p>没有账号？
                        <a href="#signup" class="link-sign">立即注册 → </a>
                    </p>
                </div>
            </div>
            <div id="signup">
                <div>
                    <!-- Textfield with Floating Label -->
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label filed-type">
                        <input class="mdl-textfield__input" type="text" id="name" value="Phoebe">
                        <label id="name_message" class=" mdl-textfield__label" for="name">你的名字</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label filed-type">
                        <input class="mdl-textfield__input" type="text" id="email" value="zhning12@163.com">
                        <label id="email_message" class="mdl-textfield__label" for="email">邮箱，例如：1001@qq.com</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label filed-type">
                        <input class="mdl-textfield__input" type="password" id="password" value="12345">
                        <label id="password_message" class="mdl-textfield__label" for="password">密码</label>
                    </div>
            
                </div>
                <div>
            
                    <button id="signUp" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect btn">
                        注册
                    </button>
            
                </div>
                <div class="other-choice">
                    <p>已有 Plate 账户？
                        <a href="#signin" class="link-sign">直接登录 → </a>
                    </p>
                </div>
                <canvas id="headImg" style="display:none"></canvas>
            </div>
        </div>
    </div>

</div>
{% endblock %}