{% extends '../layout/layout.html' %}
{% block head %}
<title>登陆</title>
{% endblock %} 
{% block styles %}
<link rel="stylesheet" href="/static/styles/sign.css" /> 
{% endblock %} 
{% block scripts %}
<script src="/static/scripts/jquery.js"></script>
<script src="/static/scripts/signIn.js"></script>

{% endblock %} 
{% block body %}
<div class="box">
    <div class="sign-page">
        <h1 class="hidden">Plate Sign In</h1>
        <img src="/static/images/index/logo.jpg" class="logo" alt="Plate logo">
    </div>
    <div>
        <!-- Textfield with Floating Label -->

        <form action="#">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label filed-type">
                <input class="mdl-textfield__input" type="text" id="sample3">
                <label class="mdl-textfield__label" for="sample3">登录邮箱</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label filed-type">
                <input class="mdl-textfield__input" type="password" id="sample3">
                <label class="mdl-textfield__label" for="sample3">密码</label>
            </div>
        </form>
    </div>
    <div>
        <button id="abc" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect btn">
            登录
        </button>
    </div>
    <div class="other-choice">
            <p>没有账号？<a href="/sign-up" class="link-sign">立即注册 → </a></p>
    </div>
</div>
{% endblock %} 