{% extends '../layout/layout.html' %} {% block head %}
<title>更多</title>
{% endblock %} {% block styles %}
<link rel="stylesheet" href="/static/styles/switch.css" /> {% endblock %} {% block scripts %}
<script src="/static/scripts/switch.js"></script> {% endblock %} {% block body %} {% include '../layout/header_top.html' %}
<div class="top-none large-screen-only"></div>
<div class="container">
    <div class="teams">
        <li class="team">蚂蜂社</li>
    </div>
    <div class="bottom-none small-screen-only"></div>
</div>

{% include '../layout/header_bot.html' %} {% endblock %}