{% extends '../layout/layout.html' %} {% block head %}
<title>任务</title>
{% endblock %} {% block styles %}
<link rel="stylesheet" href="/static/styles/task.css" /> {% endblock %} {% block scripts %}
<script src="/static/scripts/jquery.js"></script>
<script src="/static/scripts/task.js"></script> {% endblock %} {% block body %} {% include '../layout/header_top.html' %}

<div class="box">
    <div class="top-none large-screen-only"></div>

    <div class="container">

        <a href="/add_items" class="card large-screen-only add_items">
            <i class="material-icons add">add_circle</i>
            <p>新建项目</p>
        </a>

        <div class="all_pro small-screen-only">
            <p>所有项目</p>
        </div>

        <div class="create_pro small-screen-only">
            <!-- Colored FAB button with ripple -->
            <button onclick="window.location.href='/add_items'" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect add_items">
                <i class="material-icons ">add</i>
            </button>
        </div>
    </div>

    <div class="bottom-none small-screen-only"></div>
</div>


{% include '../layout/header_bot.html' %} {% endblock %}