{% extends '../layout/layout.html' %} {% block head %}
<title>任务</title>
{% endblock %} {% block styles %}
<link rel="stylesheet" href="/static/styles/task.css" /> {% endblock %} {% block scripts %}
<script src="/static/scripts/jquery.js"></script>
<script src="/static/scripts/task.js"></script> {% endblock %} {% block body %} {% include '../layout/header_top.html' %}

<div class="box">
    <div class="top-none large-screen-only"></div>
    <div class="container">

        <div class="all_pro small-screen-only">
            <p>所有项目</p>
        </div>

        <a class="card">
            <i class="material-icons ">alarm</i>
            <p>项目推广</p>
        </a>

        <a class="card">
            <i class="material-icons ">alarm</i>
            <p>项目推广</p>
        </a>

        <a class="card">
            <i class="material-icons ">alarm</i>
            <p>项目推广</p>
        </a>

        <a class="card">
            <i class="material-icons ">alarm</i>
            <p>项目推广</p>
        </a>

        <a class="card">
            <i class="material-icons ">alarm</i>
            <p>项目推广</p>
        </a>
        <a class="card">
            <i class="material-icons ">alarm</i>
            <p>项目推广</p>
        </a>
        <a class="card">
            <i class="material-icons ">alarm</i>
            <p>项目推广</p>
        </a>
        <a class="card">
            <i class="material-icons ">alarm</i>
            <p>项目推广</p>
        </a>
        <a class="card">
            <i class="material-icons ">alarm</i>
            <p>项目推广</p>
        </a>

        <div class="create_pro small-screen-only">
            <!-- Colored FAB button with ripple -->
            <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect ">
                <i class="material-icons">add</i>
            </button>
        </div>

        <div class="card-none"></div>
        <div class="card-none"></div>
        <div class="card-none"></div>
    </div>
    <div class="bottom-none small-screen-only"></div>
</div>


    {% include '../layout/header_bot.html' %} {% endblock %}