{% extends '../layout/layout.html' %} {% block head %}
<title>团队</title>
{% endblock %} {% block styles %}
<link rel="stylesheet" href="/static/styles/team.css" /> {% endblock %} {% block scripts %}
<script src="/static/scripts/team.js"></script> {% endblock %} {% block body %} {% include '../layout/header_top.html' %}
<div class="top-none large-screen-only"></div>
<div class="container">
    <a src="" class="title">
        <h1 id="teamName"></h1>
    </a>

    <div class="member-list" id="member_list">

        <div class="member" v-for="object in objects">
            <img class="avator" v-bind:src="object.head" alt="user avator">
            <div class="member_info">
                <div class="member_name">
                    ${object.username}
                </div>
                <div class="member_email">
                    ${object.email}
                </div>
               
            </div>
        </div>

    </div>

    <div class="bottom-none small-screen-only"></div>
</div>

{% include '../layout/header_bot.html' %} {% endblock %}