{% extends '../layout/layout.html' %} {% block head %}
<title>任务</title>
{% endblock %} {% block styles %}
<link rel="stylesheet" href="/static/styles/person.css" /> {% endblock %} {% block body %}

<div class="box">
    <div class="top large-screen-only">
        <div class="header">
            <div class="header-left">
                <a href="">
                    <div class="teamName">
                        <p class="">团队名称</p>
                    </div>
                </a>
                <a href="">
                    <div class="component active">
                        <p class="active">任务</p>
                    </div>
                </a>
                <div class="border"></div>
                <a>
                    <div class="component ">
                        <p>日历</p>
                    </div>
                </a>
                <div class="border"></div>
                <a>
                    <div class="component ">
                        <p>团队</p>
                    </div>
                </a>
                <div class="border"></div>
                <a>
                    <div class="component ">
                        <p>自己</p>
                    </div>
                </a>
            </div>
            <div class="header-right">
                <a>
                    <div class="component ">
                        <p>更多</p>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header
    mdl-layout--fixed-tabs">
<header class="mdl-layout__header" style="min-height:30px">
<!-- Tabs -->
<div class="mdl-layout__tab-bar mdl-js-ripple-effect">
    <a href="#fixed-tab-1" class="mdl-layout__tab is-active">我发起的</a>
    <a href="#fixed-tab-2" class="mdl-layout__tab">我负责的</a>
</div>
</header>
<main class="mdl-layout__content">
<section class="mdl-layout__tab-panel is-active" id="fixed-tab-1">
<div class="page-content">
    <!-- Your content goes here -->
    <section  class="todo-box" id="fixed-others">
            
                        <a href="" class="todo break-word">
                            <div class="name">
                                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-2">
                                    <input type="checkbox" id="checkbox-2" class="mdl-checkbox__input">
                                    <span class="mdl-checkbox__label tode-text">后端前台页面</span>
                                </label>
                            </div>
                            <div class="info truncate-text">
                                <span class="asignee">
                                    <img src="" class="avater"> 用户名
                                </span>
                                <span class="due-at">
                                    <i class="material-icons">schedule</i>
                                    11月21日
                                </span>
                            </div>
                        </a>
            
                        <a href="" class="todo break-word">
                            <div class="name">
                                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-2">
                                    <input type="checkbox" id="checkbox-2" class="mdl-checkbox__input">
                                    <span class="mdl-checkbox__label tode-text">后端前台页面</span>
                                </label>
                            </div>
                            <div class="info truncate-text">
                                <span class="asignee">
                                    <img src="" class="avater"> 用户名
                                </span>
                                <span class="due-at">
                                    <i class="material-icons">schedule</i>
                                    11月21日
                                </span>
                            </div>
                        </a>
                    </section>
</div>
</section>
<section class="mdl-layout__tab-panel" id="fixed-tab-2">
<div class="page-content">
    <!-- Your content goes here -->
    <section  class="todo-box" id="fixed-others">
        <a href="" class="todo break-word">
            <div class="name">
                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-2">
                    <input type="checkbox" id="checkbox-2" class="mdl-checkbox__input">
                    <span class="mdl-checkbox__label tode-text">我发给别人的前台页面</span>
                </label>
            </div>
            <div class="info truncate-text">
                <span class="asignee">
                    <img src="" class="avater"> 用户名
                </span>
                <span class="due-at">
                    <i class="material-icons">schedule</i>
                    11月21日
                </span>
            </div>
        </a>

        <a href="" class="todo break-word">
            <div class="name">
                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-2">
                    <input type="checkbox" id="checkbox-2" class="mdl-checkbox__input">
                    <span class="mdl-checkbox__label tode-text">我发给别人的前台页面</span>
                </label>
            </div>
            <div class="info truncate-text">
                <span class="asignee">
                    <img src="" class="avater"> 用户名
                </span>
                <span class="due-at">
                    <i class="material-icons">schedule</i>
                    11月21日
                </span>
            </div>
        </a>
    </section>
</div>
</section>
</main>
</div>




<div class=" small-screen-only">
    <div class="header ">
        <a href="" class="">
            <div class="component active">
                <i class="material-icons ">note</i>
                <p class="active">任务</p>
            </div>
        </a>

        <a>
            <div class="component">
                <i class="material-icons">event</i>
                <p>日历</p>
            </div>
        </a>

        <a>
            <div class="component">
                <i class="material-icons">group</i>
                <p>团队</p>
            </div>
        </a>
        <a>
            <div class="component">
                <i class="material-icons">person</i>
                <p>自己</p>
            </div>
        </a>

        <a>
            <div class="component">
                <i class="material-icons">menu</i>
                <p>更多</p>
            </div>
        </a>

    </div>
</div>
</div>

{% endblock %}