{% extends './layout/layout.html' %}
{% block head %}
<title>首页</title>
{% endblock %} 
{% block styles %}
<link rel="stylesheet" href="/static/styles/index.css" /> 
{% endblock %} 
{% block body %}
<div class="box">
    <div class="container">
        <h1 class="hidden">Plate</h1>
        <img src="/static/images/index/logo.jpg" class="logo" alt="Plate logo">
        <div>
            <p class="solgan">你的网上办公室</p>
        </div>
        <div>
            <a href="/sign-in">
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect btn">
                    登录
                </button>
            </a>
        </div>
        <div>
            <p class="p-center">
                或
                <a class="link-signin" href="/sign-up"> 免费注册 </a>
            </p>
        </div>
    </div>
</div>
{% endblock %}