{% extends './layout/layout.html' %}

{% block styles %}
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<link rel="stylesheet" href="/static/styles/index.css"/>
{% endblock %}

{% block body %}
<div class="container">
  <h1>Plate</h1>
  <div class="google"></div>
</div>



<!-- Accent-colored raised button -->
<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
  Button
</button>
<!-- Flat button with ripple -->
<button class="mdl-button mdl-js-button mdl-js-ripple-effect">
  Button
</button>

<!-- Colored FAB button -->
<button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
  <i class="material-icons">add</i>
</button>

<!--build:js(.tmp) /static/scripts/index.js-->
<script src="/static/plugin/jquery/jquery.js"></script>
<script src="/static/scripts/index.js"></script>
<!--endbuild-->
{% endblock %}


