<html>

<head>

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link rel="stylesheet" href="/static/styles/mdl/material.min.css">
    <script src="/static/styles/mdl/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.teal-light_blue.min.css" />
    <link rel="stylesheet" href="/static/styles/login.css" />

</head>

<body>
 
        <div class="box">
            <h1 class="hidden">Plate</h1>
            <img src="/static/images/index/logo.jpg" class="logo" alt="Plate logo">
            <div>
                <p class="solgan">你的网上办公室</p>
            </div>
            <div>
                <button class="mdl-button mdl-js-button mdl-button--raised  btn ">
                    登录
                </button>
            </div>
            <div>
                <p class="p-center">
                    或
                    <a class="link-signin" href="/sign_up">免费注册</a>
                </p>


            </div>
        </div>
  

</body>

</html>