{% extends './layout/layout.html' %}

{% block head %}
<title>test</title>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="/static/styles/test.css" />
{% endblock %}

{% block scripts %}
<script src="/static/scripts/test.js"></script>
<script src="/static/scripts/vue.js"></script>
{% endblock %}

{% block body %}

<div class="box">
	<h1 class="solgan">test3</h1>
	<button id="signUp" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
		signUp
	</button>
	<button id="signIn" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
		signIn
	</button>
	<button id="signOut" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
		signOut
	</button>
	<button id="getUser" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
		getUser
	</button>
	<button id="withCookie" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
		withCookie
	</button>
	<h1>sdsdffc12</h1>
	<h1 id="test">关鹏</h1>
	<!-- <a>{{id}}</a> -->
    <i class="material-icons">face</i>
    
</div>
{% endblock %}
