{% extends './layout/layout.html' %}

{% block head %}
<title>test</title>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="/static/styles/test.css" />
{% endblock %}

{% block scripts %}
<script src="/static/scripts/jquery-3.2.1.min.js"></script>
<script src="/static/scripts/test.js"></script>
<script src="/static/scripts/global.js"></script>
<script src="/static/scripts/vue.js"></script>
{% endblock %}

{% block body %}
<div class="box">
	<h1 class="solgan">test3</h1>
	<button id="abc" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
		Button
	</button>
	<h1>sdsdffc12</h1>
	<h1>关鹏</h1>
	<a>sdfs</a>
    <i class="material-icons">face</i>
	
	<div class="container" id="card_list">
		<a class="card" v-for="item in objects">
			<i class="material-icons">${item.icon}</i>
			<p>123${ item.name } </p>
		</a>
	</div>
    
</div>
{% endblock %}
