body{   
    height: 100%;
    width: 100%;
}
a{
    text-decoration: none!important;
}
/*小屏属性*/
@media (max-width: 767px) {
    .large-screen-only{
        display: none;
    }
    body{
        background-color: #fafafa!important;
    }
    .contain{
        margin-top:10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .btn_box{
        height: 40px;
        width: 100%;
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: absolute;
        bottom:10px;
    }
    .task_all{
        width:100%;
        
        padding:10px;
    }
    .task_name,.task_description{
        margin-top: 10px;
    }
    .choose_member{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .title{
        font-size: 20px;
    }
    .select{
        display: flex;
        align-items: center;
    }
    .choose_member h4{
        color: #5bc4c7;
        font-size:18px;
        margin-right: 10px;
    }
    .member{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
        min-height: 100px;
        width: 100%;
        
    }
    .mem{
        min-width: 120px;
    }
}
/*大屏属性*/
@media (min-width: 768px) {
    body{
        background-color:  #f4f7ed;
     }
    .contain{
        /*整体属性*/
        background-color: white;
        width: 100%;
        max-width: 964px;  
        min-height: 600px;
        margin: 0 auto;
        /*内部元素排列*/
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border: 1px solid #dbdfd6;
        box-shadow: 0 5px 15px rgba(0,0,0,0.05);
        opacity: 1;
    }
    .title{
        font-size: 20px;
        color: #333;
        padding:20px 30px ;

    }
    .task_all{
        width: 580px;
        padding: 0 30px;
    }
    .task_name, .task_description{
        margin-top: 10px;
    }
    .form-group{
        margin: 10px 30px;
    }
    .choose_member{
        padding: 20px  30px;
        width: 100%;
        min-height: 130px;
    }
    .select{
        height: 40px;
        display: flex;
        align-items: center;
    }
    .select h4{
        font-size: 16px;
        margin-bottom:4px;
        margin-right:10px;
    }
    .btn_select{
        font-size: 16px;
    }
    .member{
        display: flex;
        flex-wrap: wrap;
        min-height: 100px;
        width: 100%;
        border-bottom: 1px solid #eee;
    }
    .mem{
        width: 160px;
        margin: 10px 10px 10px 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .btn{
        margin-left:30px;
    }
}
