body{   
    height: 100%;
    width: 100%;
}
a{
    text-decoration: none!important;
}
.thumbnails{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width:100%;
    padding:0 15px;
}
.upload{
    display: flex;
}
/*小屏属性*/
@media (max-width: 767px) {
    .large-screen-only{
        display: none;
    }
    body{
        background-color: #fafafa!important;
    }
    .contain{
        margin-top:10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-bottom:70px;
    }
    .btn_box{
        height: 40px;
        width: 100%;
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        bottom:10px;
    }
    .task_top{
        width:100%;
        padding:0 15px;
    }
    .task_name,.task_description{
        margin-top: 10px;
    }
    .choose_member{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width:100%;
    }
    .title{
        font-size: 20px;
    }
    .select{
        display: flex;
        align-items: center;
        padding:15px;
    }
    .choose_member h4{
        color: black;
        font-size:18px;
        margin-right: 10px;
    }
    .member{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        min-height: 80px;
        width: 100%;
        padding:0px 15px;
    }
    .mem{
        min-width: 33%;
    }
    .title{
        width: 100%;
        display: flex;
        align-content: center;
        justify-content: center;
    }
    h1{
        font-size: 20px;
        color: black;
        line-height: 50px;
        margin:0px;
    }
    .thumbnails img{
        height:100px;
        margin:5px;
    }
}
/*大屏属性*/
@media (min-width: 768px) {
    body{
        background-color:  #f4f7ed;
     }
    .contain{
        /*整体属性*/
        background-color: white;
        width: 100%;
        padding: 0 30px 40px;
        max-width: 964px;  
        min-height: 600px;
        margin: 0 auto;
        /*内部元素排列*/
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border: 1px solid #dbdfd6;
        box-shadow: 0 5px 15px rgba(0,0,0,0.05);
        opacity: 1;
        margin-bottom:70px;
    }
    
    .title{
        height: 80px;
        width:100%;
        display: flex;
        align-items: center;
        
    }
    h1{
        margin-left:5px;
        font-weight: 500;
        font-size: 32px;
        color: rgb(51, 51, 51);
    }

    .task_top{
        width: 580px;
        padding: 0 30px;
    }
    .task_name, .task_description{
        margin-top: 10px;
    }
    .form-group{
        margin: 10px 30px;
    }
    .choose_member{
        padding: 20px  30px;
        width: 100%;
        min-height: 130px;
    }
    .select{
        height: 40px;
        display: flex;
        align-items: center;
    }
    .select h4{
        font-size: 16px;
        margin:0 10px 0 0;
        line-height: 20px;
    }
    .btn_select{
        font-size: 16px;
    }
    .member{
        display: flex;
        flex-wrap: wrap;
        min-height: 100px;
        width: 100%;
        border-bottom: 1px solid #eee;
    }
    .mem{
        width: 160px;
        padding: 10px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .mem label{
        color:black;
    }
    .btn{
        margin-left:30px;
    }
    .thumbnails img{
        height:150px;
        margin:10px;
    }
}
