/*大屏属性*/
@media (min-width: 768px) {
    
    .container{
        /*整体属性*/
        background-color: white;
        max-width: 964px;  
        width: 100%;
        min-height: 600px;
        margin: auto;
        /*内部元素排列*/
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border: 1px solid #dbdfd6;
        box-shadow: 0 5px 15px rgba(0,0,0,0.05);
        opacity: 1;
        margin-bottom:70px;
    }
    
    #calendar{
        max-width: 900px;
        width:100%;
        margin: 40px auto;
    }

}

/*小屏属性*/
@media (max-width: 767px) {
    #calendar{
        width:100%;
        margin:20px 0px !important;
    }
    .fc-view-container{
        background-color: white;
    }
}

#calendar {
    padding: 0px;
}

.fc-corner-left , .fc-corner-right{
    background-image:none;
    background-color:white;
    outline:none;
}

.fc-button-group :hover{
    background-color:#eeeeee;
}
button:focus{
    background-color:#eeeeee;
}
.fc-center h2{
    font-size: 20px;
    line-height: 30px;
}

.fc-day-number, .fc-list-heading-main, .fc-list-heading-alt{
    color:#111111;
}

.fc-more{
    color: #3a87ad;
}

.fc-scroller{
    height:100% !important;
}
/* table{
    border-top: none !important;
    border-bottom: none !important;
}
thead{
    border-top: none !important;
    border-bottom: none !important;
} */