body{   
    height: 100%;
    width: 100%;
}
a{
    text-decoration: none;
}
/*小屏属性*/
@media (max-width: 767px) {
    .large-screen-only{
        display: none;
    }
    body{
       background-color:  #fafafa;
    }
    .bottom-none{
        width:100%;
        height:50px;   
        align-self: flex-end;
    }
    .header{
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        height: 50px;
        width: 100%;
        padding-top:5px;
        background-color: #fff;
        border-top: 1px solid #e8e8e8;
        z-index: 9;
        display: -webkit-flex;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .component{
        height:49px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
    .component p{
        margin: 0;
        color: #ccc;
        font-size: 10px;
    }
    .component .material-icons{
        
        font-size: 24px;
        color: #ccc;
    }
    .active .material-icons,.active p{
        color:#5bc4c7;
    }
    
    
}
/*大屏属性*/
@media (min-width: 768px) {
    .small-screen-only{        
      display: none;
    }
    .top-none{
        width:100%;
        height:70px;   
        align-self: flex-start;
    }
    body{
        background-color: #f4f7ed;
    }
    .top{
        display: block;
        position: fixed;
        width:100%;
        top:0px;
        float: top;
        background-color: #f4f7ed;
        z-index: 9999;
    }
    
    /*header css*/
    .header{
        height: 30px;
        max-width: 900px;
        margin: 20px auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:30px auto;
        width: 78%;
    }
    
    .header-left{
        height: 100%;
        margin-left: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex:0,0,40%;
    }
    .header-right{
        height: 30px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex: 0,0,20%;
    }
    .header-left a{
        display: flex;
        align-items: center;
    }
    .border{
        width: 1px;
        height: 20px;
        margin-top: 5px;
        background-color: rgba(85,85,85,0.15);
    }
    .teamName{
        color:#84a099;
        padding-right:30px;
        white-space: nowrap;
        height: 100%;

    }
    .teamName p{
        font-size:20px;
        line-height:30px;
        font-weight: normal;
        
    }
    .component{   
        color: rgba(85,85,85,0.5);
        padding: 0px 20px;
        white-space: nowrap;
        height: 100%;

    }
    .component p{
        text-align: center;
        font-size:16px;
        line-height: 30px;
    }

    .header a{
        height: 100%;
        cursor: pointer;
    }

    .component:hover{
        color:#555;
    }
    .active{
        color:#555;
    }

   
}
