.box {
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
.container{
    width:760px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
  
h1.hidden {display:none;}


.logo{
    display: flex;
    margin: 0 auto 4%;
    width:300px;
}

.solgan{
    display: flex;
    font-size: 28px;
    color: #999;
    margin:30px 0 50px;
}

.btn{
    width: 190px;
    line-height: 40px;
    font-size: 18px;
    border-radius: 20px;
    background-color: #68A593;
    color: #fff;
    margin-bottom: 15px;
}

.btn:hover{
    background-color: rgb(67, 135, 115);
}


.p-center{
    line-height:24px;
    font-size: 16px;
   
}
.link-signin{
    color:rgb(105, 148, 137);
    text-decoration: none;
   
}

.link-signin:hover {
    color: #4ea5ad;
    text-decoration: underline;
} 
