body{
    height: 100%;
    width: 100%;
    background-color: #f4f7ed;
}
.top{
    position: absolute;
    top: 20px;
  }
  .bottom{
    position: fixed;
    bottom: 20px;
}
/*大屏属性*/
@media (max-width: 768px) {
    .large-screen-only div{
        display: none;
        
    }
  }
/*小屏属性*/
@media (min-width: 769px) {
    .small-screen-only div{        
      display: none;
    }
  }

.box {
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.header{
    width:50%;
    height:40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.border{
    height: 80%;
    width: 1px;
    background-color: rgba(85,85,85,0.15);
}
.component{   
    color: rgba(85,85,85,0.5);
    padding: 0px 20px;
    white-space: nowrap;
    height: 100%;
}
.component p{
    text-align: center;
    font-size:18px;
    line-height: 40px;
    font-weight: 800px;
}

.header a{
    text-decoration: none;
    height: 100%;
    cursor: pointer;
}
.component:hover{
    color:#555;
}
.active{
    color:#555;
}
