body{
    height: 100%;
    width: 100%;
    background-color: #f4f7ed;
}
.top{
    display: block;
    position: fixed;
    top: 20px;
    width:100%;
  }
  .bottom{
    display: block;
    position: fixed;
    width:100%;
    bottom: 20px;
}
/*大屏属性*/
@media (max-width: 768px) {
    .large-screen-only{
        display: none;
        
    }
  }
/*小屏属性*/
@media (min-width: 769px) {
    .small-screen-only{        
      display: none;
    }
  }

.box {
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.header{
    margin: 0 auto;
    width:50%;
    height:40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.border{
    height: 80%;
    width: 1px;
    background-color: rgba(85,85,85,0.15);
}
.component{   
    color: rgba(85,85,85,0.5);
    padding: 0px 20px;
    white-space: nowrap;
    height: 100%;
}
.component p{
    text-align: center;
    font-size:18px;
    line-height: 40px;
    font-weight: 800px;
}

.header a{
    text-decoration: none;
    height: 100%;
    cursor: pointer;
}
.component:hover{
    color:#555;
}
.active{
    color:#555;
}

.main{
    width:100%;
    max-width: 1127px;
    margin:50px auto; 
    padding: 0 20px;
    background-color: green;
    display: flex;
    /*水平排列div元素的子元素*/
    -webkit-box-orient: vertical;
    /*以反方向显示 div 框的子元素：*/
    -webkit-box-direction: normal;
    flex-wrap: wrap;
    /*通过使用 box-align and box-pack 属性，居中 div 框的子元素：*/
    -webkit-box-align: center;
    justify-content: space-around;
    align-items: center;
}

/*日历卡片*/
.demo-card-event.mdl-card {
  width: 256px;
  height: 256px;
  background: #68A593;
  margin: 20px 50px;
}
.demo-card-event > .mdl-card__actions {
  border-color: rgba(255, 255, 255, 0.2);
}
.demo-card-event > .mdl-card__title {
  align-items: flex-start;
}
.demo-card-event > .mdl-card__title > h4 {
  margin-top: 0;
}
.demo-card-event > .mdl-card__actions {
  display: flex;
  box-sizing:border-box;
  align-items: center;
}
.demo-card-event > .mdl-card__actions > .material-icons {
  padding-right: 10px;
}
.demo-card-event > .mdl-card__title,
.demo-card-event > .mdl-card__actions,
.demo-card-event > .mdl-card__actions > .mdl-button {
  color: #fff;
}
