body{   
    height: 100%;
    width: 100%;
}
a{
    text-decoration: none;
}
/*小屏属性*/
@media (max-width: 767px) {
    .large-screen-only{
        display: none;
    }
    body{
       background-color:  #fafafa;
    }
    .container{
        margin-top:10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
  
    .todo-box{
        width: 100%;
        background-color: white;
        margin: 20px 0;
    }
    .break-word{
        word-break: break-all;
        word-wrap: break-word;
    }

    .todo{
        display: block;
        position: relative;
        padding: 8px 15px 8px 34px;
        min-height: 40px;
        line-height: 22px;
        color: #222;
        font-size: 14px;
        background-color: #fff;
        border-bottom: 1px solid #e8e8e8;
    }
    .todo .info{
        font-size: 12px;
        color: #999;
    }
    .truncate-text {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .asignee{
        margin-right: 5px;
    }
    .todo .info .avator{
        width: 11px;
        height: 11px;
        vertical-align: middle;
    }
    .due-at{
        margin-right: 5px;
    }
    .due-at .material-icons{
        font-size: 12px;
    }

    .bottom-none{
        width:100%;
        height:80px;   
        align-self: flex-end;
    }
    
    
}
/*大屏属性*/
@media (min-width: 768px) {
    
    .container{
        /*整体属性*/
        background-color: white;
        max-width: 964px;  
        width: 100%;
        min-height: 600px;
        margin: auto;
        /*内部元素排列*/
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border: 1px solid #dbdfd6;
        box-shadow: 0 5px 15px rgba(0,0,0,0.05);
        opacity: 1;
    }
    .user_info{
        width: 100%;
        max-width: 964px;
        min-height:80px;
        padding: 20px 0;

        border-bottom:1px solid #e6e6e6; 
        display: flex;
        
    }
    .avatar{
        border-radius: 50%;
        width: 80px;
        height: 80px;
        margin-left:30px;
        
    }
    .member-card{
        padding-left: 30px;
        height: 80px;
        display: flex;
        align-content: center;
        flex-direction: column;
    }
    .member-card{
        margin: 0px;
    }
 
    .member-card .username{
        font-size: 28px;
        font-weight: 400;
        line-height: 36px;
        color: rgb(51, 51, 51);
    }
    .member-card .email{
        font-size: 14px;
        color: #999;
    }
    /*任务栏*/
    .todo-box{
        padding: 20px 0;
        width: 100%;
        max-width: 964px;
        display: flex;
        align-content: center;
        flex-direction: column;
    }
    .todo{
        margin-bottom:20px;
        padding-left:40px;
        min-height:60px;
        padding-left:30px;
        border-bottom: 1px solid #e6e6e6;
        display: flex;
        align-items: center;
    }
    .todo-text{
        color:black;
        font-size: 15px;
        line-height: 24px;
    }
    .info{
        /*和上面项目名对齐*/
        margin: 5px 20px ;

    }
   
    .asignee, .due-at{
        margin: 0 0 0 5px;
        padding: 3px 7px 3px;
        line-height: 1;
        background-color: #efefef;
        font-size: 12px;
        color: #999;
        font-style: normal;
        vertical-align: middle;
        white-space: nowrap;
        word-break: keep-all;
        word-wrap: normal;
        border-radius: 10px;
        
    }
    .due-at .material-icons{
        font-size:12px;
    }

}
