body{   
    height: 100%;
    width: 100%;
}
a{
    text-decoration: none;
}
/*小屏属性*/
@media (max-width: 767px) {
    .large-screen-only{
        display: none;
    }
    body{
       background-color:  #fafafa;
    }
    .box{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    .container{
        margin-top:10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .nav{
        width: 90%;
        margin: 0 15px;
    }
    .todo-tabs{
        margin-bottom: 10px;
        height: 28px;
        border: 1px solid #5bc4c7;
        border-radius: 4px;
        font-size: 14px;
        background-color: #fff;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;

    }
    .todo-tabs .tab.active{
        background-color: #5bc4c7;
        color: #fff;
        pointer-events: none;
    }
    .todo-tabs .tab {
        display: block;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        flex: 1;
        line-height: 28px;
        text-align: center;
        color: #5bc4c7;
    }
    
    .todo-box{
        width: 100%;
        background-color: white;
        margin-bottom: 10px;
    }
    .break-word{
        word-break: break-all;
        word-wrap: break-word;
    }

    .todo{
        display: block;
        position: relative;
        padding: 8px 15px 8px 34px;
        min-height: 40px;
        line-height: 22px;
        color: #222;
        font-size: 14px;
        background-color: #fff;
        border-bottom: 1px solid #e8e8e8;
    }
    .todo .info{
        font-size: 12px;
        color: #999;
    }
    .truncate-text {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .asignee{
        margin-right: 5px;
    }
    .todo .info .avater{
        width: 11px;
        height: 11px;
        vertical-align: middle;
    }
    .due-at{
        margin-right: 5px;
    }
    .due-at .material-icons{
        font-size: 12px;
    }

    .bottom-none{
        width:100%;
        height:80px;   
        align-self: flex-end;
    }
    .header{
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        height: 60px;
        width: 100%;
        background-color: #fff;
        border-top: 1px solid #e8e8e8;
        z-index: 9;
        display: -webkit-flex;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .component{
        height:50px;
    }
    .component p{
        color: #ccc;
    }
    .component .material-icons{
        display: block;
        font-size: 28px;
        color: #ccc;
    }
    .active .material-icons,.active p{
        color:#5bc4c7;
    }
    
}
/*大屏属性*/
@media (min-width: 768px) {
    .small-screen-only{        
      display: none;
    }

}
