body{
    background-color: #f4f7ed;
    width:100%;
	height:100%;
}
.mdl-layout--small-screen-only{
    align-self: flex-end ;
}

.box{
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer{
    margin:0 auto;
    padding: 20px 0;
    font-size: 12px;
    color: #aaaaaa;
    text-align: center;
    align-self: flex-end ;
}